.grid{
  display: grid;
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
  grid-gap: 10px;
  box-sizing: border-box;
}
.grid + .grid{
  margin-top: 20px;
}
.grid div{
  background: rgba(200,200,200, .3);
}
.grid-1 {
  grid-template-columns: 1fr 2fr 1fr;
}