.grid{
  display: grid;
  display: -ms-grid;
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
  grid-gap: 10px;
  box-sizing: border-box;
}
.grid + .grid{
  margin-top: 20px;
}
.grid div{
  background: rgba(200,200,200, .3);
}
.grid-5{
  grid-gap: 2px;
  grid-template-areas:"a a a" "b c c" "d d f";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.grid-5 .area-1{
  grid-area: c;
}
.grid-5 .area-2{
  grid-area: d;
  background:#bfffbf;
}
.grid-4{
  grid-gap: 2px;
  grid-template-rows: 50px auto;
  grid-template-columns: 10px auto 10px 20px;
  -ms-grid-rows: 50px 2px 1fr;
  -ms-grid-columns: 10px 2px 1fr 2px 10px 2px 20px;
}
.grid-4 .status{
  grid-column:1;
  grid-row:1/ span 2;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  background: #bfffbf;
}
.grid-4 .name{
  grid-row:1;
  grid-column:2;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid-4 .icon{
  grid-row:1;
  grid-column:3 / span 2;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
}
.grid-4 .info{
  grid-row:2;
  grid-column:2 / span 2;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
}
.grid-4 .checkbox{
  grid-row:2;
  grid-column:4;
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  display: flex;
  align-items: flex-end;
}

.grid-3{
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 10px 2fr;
  -ms-grid-columns: 1fr 10px 2fr;
}
.grid-3 .photo{
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid-3 .summary{
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid-3 .info{
  grid-row: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid-1 {
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
}
.grid-2 {
  grid-template-rows: 1fr 2fr 1fr;
}
.grid-2 .one, .grid-2 .four{
  grid-row: 1/1;
}